.featured-article {
  display: flex;
}

.article-content {
  flex: 1;
  padding-right: 20px; /* Adjust as needed */
}

.additional-content {
  flex: 1;
}

/* Adjust the size of the additional image */
.additional-content img {
  max-width: 100%;
  height: auto;
}
